global-exclude *.py[cod] __pycache__
global-exclude *.so *.dll *.dylib
global-exclude *.o
global-exclude *.swp

recursive-include ortho *.rst
include CHANGELOG.rst
include README.rst
include AUTHORS.txt
include LICENSE.txt
include requirements.txt
include pyproject.toml

exclude tox.ini
exclude environment.yml
exclude TODO.rst
exclude .coverage
exclude .coveragerc
exclude .gitattributes
exclude .tokeignore

prune docs
prune tmp
prune conda-recipe
prune notebooks
prune examples
prune tests
prune .git
prune .github
prune .tox
